<h1>Listing hosts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Running Kernel</th>
  </tr>

<% @hosts.each do |host| %>
  <tr>
    <td><%= link_to host.name, host %></td>
    <td><%= host.running_kernel %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Host', new_host_path %>
<%= link_to 'Scan Host', scan_hosts_path %>
