
body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  color:#484848;
  margin: 0;
  padding: 0;
  background-color: #E6DFCF;
}

h1, h2 {
  font-variant:small-caps;
  padding:0;
  margin:0;
}
h1 { font-size:18px; }
h2 { font-size:14px; }

/* Tables */

table.list { border: 1px solid #e4e4e4;  border-collapse: collapse; width: 100%; margin:1em auto;}
table.list th {
  text-decoration:none;
  text-align:left;
  background:#555555;
  color:#FFFFFF;
}
table.list th p {
  display:block;
  font:bold 11px arial,sans-serif;
}
table.list th a, th a:visited {
  padding:2px 15px 2px 5px;
  color:#FFFFFF;
}

table.list td, th { line-height:1.3em; }
table.list td { vertical-align: top; border: 1px #eeeeee solid; padding: 4px }
table.list td.id { width: 2%; text-align: center;}
table.list td.checkbox { width: 15px; padding: 0px;}
table.list tbody tr:hover { background-color:#ffffaa; }
table.list caption {
  text-align: center;
  font-size: 125%;
  padding: .75em;
  color: #000;
}

table td {padding:2px;}
table p {margin:0;}
.odd {background-color:#f6f7f8;}
.even {background-color: #fff;}

#notification {
border: 5px solid #9c9;
background-color: #cfc;
padding: 5px;
margin: 10px 0;
}
	
